body{
	background: linear-gradient(to bottom, #582828 0%, #2d2d2d 20%, black 100%);
	background-repeat: no-repeat;
	background-size: 100%;
	background-position: center;
	background-attachment: fixed;
	color:white;
	font-family: 'Arial';
}
#header{
	position: absolute;
	top:20px;
	left: 20px;
	color: red;
	font-size: 50px;
}
#name{
	position: absolute;
	top:20px;
	right: 20px;
	color:white;
	font-size: 32px;
}
#role{
	position: absolute;
	top:66px;
	right: 45px;
	text-align: right;
}
#roleHelp{
	position: absolute;
	top:65px;
	right: 20px;
	text-align: right;
}
#controls{
	position: absolute;
	top:100px;
	left: 10px;
	width: calc(100% - 20px);
	width: -webkit-calc(100% - 20px);
	width: -moz-calc(100% - 20px);
	height: calc(100% - 110px);
	background: linear-gradient(to bottom, #00000069, black);
	border: 1px solid white;
	filter: drop-shadow(#9a5c5c 0px 0px 30px);
}
#controls_timer{
	position: absolute;
	top:0px;
	height: 30px;
	width:100%;
	font-size: 24px;
	text-align: center;
	left: 0px;
	z-index: 2;
	background: linear-gradient(to right, #6d3131 0%, #9a5c5c 30%, #9a5c5c 70%,#6d3131 100%);
	border-bottom: 1px solid white;
}
#controls_trial{
	display: none;
	position: absolute;
	top:35px;
	left: 4px;
	width:calc(100% - 10px);
	height: calc(100% - 40px);
	background-color: rgba(0,0,0,.4);
	border: 1px solid white;
}
#controls_trial_abstainButton{
	position: absolute;
	border: 1px solid white;
	top: calc(75% + 20px);
	height: 15%;
	width: 60%;
	left: 20%;
	background: linear-gradient(to bottom, #565656, #3a3a3a);
	font-size: 32px;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
}
#controls_trial_innocentButton{
	position: absolute;
	border: 1px solid white;
	top: calc(50% - 3px);
	height: 15%;
	width: 60%;
	left: 20%;
	background: linear-gradient(to bottom, lime, green);
	font-size: 32px;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
}
#controls_trial_guiltyButton{
	position: absolute;
	top: calc(65% + 0px);
	height: 15%;
	width: 60%;
	left: 20%;
	background: linear-gradient(to bottom, red, darkred);
	border: 1px solid white;
	font-size: 32px;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
}
#controls_trial_timer{
	text-transform: capitalize;
	text-align: center;
	top:80px;
	position: absolute;
	width: 100%;
	font-size: 16px;
    color: grey;
}
#controls_trial_header{
	text-transform: capitalize;
	text-align: center;
	top:40px;
	position: absolute;
	width: 100%;
	font-size: 32px;
    color: #ffdede;
}
#controls_youAreOnTrial_timer{
	text-transform: capitalize;
	text-align: center;
	top:calc(20% + 120px);
	position: absolute;
	width: 100%;
	font-size: 16px;
    color: grey;
}
#controls_youAreOnTrial_header{
	position: absolute;
	top:20%;
	left: 0px;
	width: 100%;
	font-size: 38px;
	color:red;
	text-align: center;
}
#controls_youAreOnTrial_subtitle{
	position: absolute;
	top:calc(20% + 40px);
	left: 0px;
	width: 100%;
	font-size: 18px;
	text-align: center;
}
#controls_trial_action{
	position: absolute;
	top:calc(50% - 40px);
	left: 0px;
	width: 100%;
	text-align: center;
	color:red;
}
#controls_vote_header{
	position: absolute;
	top:0px;
	left: 0px;
	height: 20px;
	width:100%;
	padding-top: 4px;
	border-bottom: 1px solid grey;
	text-align: center;
}
#controls_youAreOnTrial_subtitle{
	position: absolute;
}
#controls_vote_list{
	overflow: auto;
	position: absolute;
	top:25px;
	left: 0px;
	height: calc(100% - 25px);
	width:100%;
}
#controls_prompt_subtitle{
	position: absolute;
	top:60px;
	left: 0px;
	width:100%;
	font-size: 16px;
	text-align: center;
	color:#959595;
}
#controls_prompt_timer{
	position: absolute;
	top:50%;
	left: 0px;
	width:100%;
	font-size: 16px;
	text-align: center;
	color:#505050;
}
#controls_header{
	position: absolute;
	top:20px;
}
#roleHelpPopupCloseButton{
	display: none;
	position: absolute;
	top:10px;
	height: 10px;
	right: 10px;
	background:linear-gradient(to bottom, red, darkred);
	z-index: 11;
	text-align: center;
	width:18px;
	border-radius: 4px;
	border: 1px solid white;
	height: 18px;
}
#roleHelpPopup{
	display: none;
	overflow: hidden;
	position: absolute;
	top:20px;
	left: 20px;
	width: calc(100% - 40px);
	height: calc(100% - 40px);
	border: 1px solid white;
	background-color: rgba(0,0,0,.75);
	z-index: 10;
	box-shadow: black 0px 0px 100px;
	filter: drop-shadow(black 0px 0px 30px);
}
#roleHelpPopup_header{
	position: absolute;
	top:5px;
	left: 5px;
	width:calc(100% - 10px);
	overflow: hidden;
	height: 35px;
	font-size: 32px;
	background: linear-gradient(to right,rgba(251, 251, 251, 0.3),rgba(0,0,0,0));
	padding:10px;
	padding-right:0px;
}
#roleHelpPopup_goals{
	top:100px;
	height: 100px;
}
#roleHelpPopup_abilities{
	top: 220px;
	height: 100px;
}
#roleHelpPopup_alignment{
	top:60px;
	background: linear-gradient(to right,rgba(128,0,0,.3),rgba(0,0,0,0));
}
#roleHelpPopup_info{
	top: 340px;
	height: calc(100% - 360px);
	overflow: auto;
	width: calc(100% - 20px);
}
#roleHelpPopup_alignment_value{
	float: left;
	height: 0px;
	overflow: overlay;
	width: calc(50% - 20px);
	text-align: right;
	height: 20px;
	position: relative;
}
#roleHelpPopup_alignment_label{
	width: 50%;
	height: 20px;
}
.helpAttribute{
	float:left;
	font-weight: bold;
	width:100%;
	height: 20px;
	overflow: hidden;
}
.helpValue{
	float:left;
	padding-right: 20px;
	height: calc(100% - 20px);
	overflow: auto;
}
.roleHelpContainer{
	position: absolute;
	left: 5px;
	width:calc(100% - 10px);
	overflow: hidden;
	height: 20px;
	font-size: 18px;
	background: linear-gradient(to right,rgba(27, 65, 121, 0.3),rgba(0,0,0,0));
	padding:10px;
	padding-right:0px;
}
.controls_vote_list_item{
	background-color: rgba(255,255,255,.1);
	position: relative;
	float:left;
	overflow: hidden;
	width:100%;
	height: 40px;
	font-size: 28px;
	border-bottom: 1px solid grey;
	padding-top: 6px;
}

.button:hover{
	filter: brightness(1.25);
}
.button:active{
	filter: brightness(0.65);
}
.button{
	cursor: pointer;
}
.controls_vote_list_item_votes{
	margin-left: 5px;
	color:grey;
	width: 30px;
	float:left;
}
.container{
	display: none;
	position: absolute;
	top:35px;
	left: 4px;
	width:calc(100% - 10px);
	height: calc(100% - 40px);
	background-color: rgba(0,0,0,.4);
	border: 1px solid white;
}
.header{
	position: absolute;
	top:20px;
	left: 0px;
	width:100%;
	font-size: 32px;
	text-align: center;
}
.subtitle{
	position: absolute;
	top:60px;
	left: 0px;
	width:100%;
	font-size: 32px;
	text-align: center;
	color:#959595;
	font-size: 16px;
}