body{
	background-image: url('/resource?file=darkBackground.jpeg');
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
	color:white;
	font-family: 'Arial';
}
#background{
	position: absolute;
	z-index: -1;
	background: linear-gradient(to bottom, #2b00008a, #000000e3);
	/* opacity: .8; */
	height: 100%;
	width:100%;
	top:0px;
	left: 0px;
}
#header{
	position: absolute;
	top:20px;
	left: 5px;
	width:calc(100% - 10px);
	font-size: 58px;
	height: 50px;
	text-align: center;
	color: red;
}
#openLobbiesList{
	position: absolute;
	top:100px;
	height: calc(100% - 110px);
	left: 10px;
	width:calc(100% - 20px);
	border: 1px solid white;
	background: linear-gradient(to bottom, #9a545452, #00000047);
}
#openLobbiesList_header{
	position: absolute;
	top:0px;
	left: 0px;
	height: 30px;
	font-size: 24px;
	text-align: center;
	width: 100%;
	border-bottom: 1px solid grey;
	background: linear-gradient(to right, #2f2f2f, #101010);
}
#openLobbiesList_list{
	position: absolute;
	top:30px;
	height: calc(100% - 58px);
	overflow: auto;
	width: 100%;
	background: linear-gradient(to bottom, #0000001f, #101010e0);
}
#openLobbiesList_newGameButton{
	position: absolute;
	bottom: 0px;
	height: 28px;
	font-size: 24px;
	left: 0px;
	width: 100%;
	text-align: center;
	border-top: 1px solid grey;
	background: linear-gradient(to right, #5d3b3b, #520909);
}
#openLobbiesList_list_noActiveGames{
	position: absolute;
	top:calc(50% - 20px);
	height: 40px;
	width:100%;
	text-align: center;
}
.openLobbiesList_list_item_name{
	position: relative;
	float: left;
	overflow: hidden;
	text-overflow: ellipsis;
	height: 100%;
	padding-left: 5px;
	width:75%;
	overflow: hidden;
}
.openLobbiesList_list_item_players{
	position: relative;
	text-align: right;
	float: left;
	padding-top: 8px;
	padding-right: 10px;
	width:calc(25% - 20px);
	font-size: 16px;
	color:#959595;
}
.openLobbiesList_list_item{
	position: relative;
	float:left;
	width:100%;
	height: 35px;
	border-bottom: 1px solid grey;
	font-size: 28px;
	padding-top: 4px;
	background-color: rgba(255,255,255,.1);
}